@import "tailwindcss";

html, body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

#root {
  overflow-x: hidden;
  max-width: 100%;
}

img, video, svg, canvas, iframe {
  max-width: 100%;
}